@model SportCoolNew2.Models.TrendingArticles

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout - 複製.cshtml";

    var commentList = new List<SportCoolNew2.Models.Comment>();
    using (SportCoolNew2.Models.SportCoolEntities db = new SportCoolNew2.Models.SportCoolEntities())
    {
        commentList = (from s in db.Comment
                       where s.TrendingId == this.Model.articlesId
                       select s).ToList();

    }
}


<div class="container">

    <br />
    <dl class="dl-horizontal bg-light">
        <dd class="h1 mt-2">
            @Html.DisplayFor(model => model.article)
        </dd>

        <dd class="mt-2">
            <img src="~/Images/@Model.image" class="img-fluid mt-3 w-100 h-50" />
        </dd>
        <dd class="mt-4">
            @*@Html.DisplayFor(model => model.aContent)*@
            @Html.Raw(@Html.DisplayFor(model => model.aContent).ToString().Replace("\n", "<br>"))
        </dd>
    </dl>
    <br class="mt-2" />
    <div class="h2">留言板</div>
    <hr class="mt-2" />
    <div class="mt-3 bg-light" data-spy="scroll">

        <div class="ml-4">

            <dl class="dl-horizontal">

                @foreach (var comment in commentList)
                {
                    <dt> @comment.userName</dt>
                    <dd> @comment.commentcontent (@comment.CreateDate)  </dd>
                }
            </dl>
            @using (Html.BeginForm("AddComment", "TrendingArticles", FormMethod.Post, new { }))
            {
                @Html.HiddenFor(Model => Model.articlesId)
                @Html.TextBox("Content")
                <input type="submit" value="留言" class="btn btn-primary">
            }

            <p class="pt-4">
                @Html.ActionLink("返回文章列表", "Index", "TrendingArticles")
            </p>
        </div>

    </div>

</div>

